/*New*/
/*
body {
    background-color: lightblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    height: 100vh;
    grid-template: 70px auto 70px / 20fr 80fr;
    gap: 10px;
    grid-template-areas: 
    "sideheader" "header"
    "sidebar" "main"
    "sidefooter" "footer";

}

#headID {
    grid-area: header;
}

#mainID {
    grid-area: main;
}

#footID {
    grid-area: footer;
}

nav {
    background-color: rgb(237, 100, 100);
    text-decoration-color: white;
    margin: auto;
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
nav ul {
    float: right;
    margin-right: 30px;
}
nav ul li {
    display: inline-block;
    text-decoration: none;
    text-emphasis-color: white;
    margin-right: 10px;
   
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-emphasis-color: rgb(117, 0, 0);
}
nav ul li a.active {
    color: darkred;
    text-decoration: underline;
}
nav ul li a:hover {
    color: darkred;
}*/

/*old*/

body {
    background-color: lightblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(237, 100, 100);
    text-decoration-color: white;
    margin: auto;
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
nav ul {
    float: right;
    margin-right: 30px;
}
nav ul li {
    display: inline-block;
    text-decoration: none;
    text-emphasis-color: white;
    margin-right: 10px;
   
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-emphasis-color: rgb(117, 0, 0);
}
nav ul li a.active {
    color: darkred;
    text-decoration: underline;
}
nav ul li a:hover {
    color: darkred;
}

h1.pageTitle {
    background-color: darkred;
    color: white;
    margin: auto;
    margin-bottom: 15px;
    width: 300px;
    height: 50px;
    text-align: center;
    text-decoration: underline;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
h2.paragraphTitle {
    font-style: bold;
    font-family: cursive;
}
h3.subParagraphTitle {
    font-style: bold;
    font-family: cursive;
    margin-left: 40px;
}
article.regularArticle{
    background-color: white;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

    padding: 15px;
    border-radius: 20px;
}

article.regularArticle img{
    height: fit-content;
    width: fit-content;
}

#inputArticle {
    text-align: center;
}

#inputArticle ul {
    background-color:  rgb(237, 100, 100);
    border: 5px solid black;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inputArticle ul li {
    display: inline-block;
    text-decoration: none; 
    color: white;
}

#BlogSelectorTextBox {
    width: 45px;
    height: 30px;
    box-sizing: border-box;
    background-color: darkred;
    color: white;
    font: bold;
}

/*
section.BlogSelector {
    background-color: whitesmoke;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 20px;
}
section.BlogSelector ul{
    text-align: center;
}
section.BlogSelector ul li{
    display: inline-block;
    text-decoration: none;
    text-emphasis-color: white;
    padding: 10px;
    margin: 10px;
    background-color: aqua;
    border-radius: 10px;
    border-color: black;
    border-style: ridge;
    width: 250px;
}
section.BlogSelector ul li a{
    text-decoration: none;
    color: navy;
    font-size: 30px;
}
section.BlogSelector ul li a:hover{
    text-decoration: underline;
    color: white;
    font-size: 40px;
    transition: 0.5s;
}
section.BlogSelector ul li p {
    text-align: left;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border-color: black;
    border-style: ridge;

}
section.BlogSelector ul li img {
    height: 220px;
    width: 220px;

}
*/
section.Profile {
    background-color: whitesmoke;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 20px;
}
section.Profile ul{
    text-align: center;
    background-color: darkred;
    border-radius: 10px;
    border-color: black;
    border-style: ridge;
    height: 270px;
}
section.Profile ul li{
    display: inline-block;
    text-decoration: none;
    text-emphasis-color: white;
    padding: 10px;
    margin: 10px;
}
section.Profile ul li img {
    width: 200px;
    height: 200px;
    border: 5px;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
}
section.Profile ul h2{
    text-decoration: none;
    color: white;
    font-family: cursive;
    font-size: 20px;
    background-color:  rgb(237, 100, 100);
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    border-style: ridge;
    text-align: left;
}
section.Profile ul p{
    color: darkred;
}

footer {
    background-color: rgb(237, 100, 100);
    text-decoration-color: white;
    width: 25%;
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: auto;
    margin-right: 0px;
}
footer h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
}

nav-bar.isFixed {
    position: fixed;
    bottom: 0px;
    background-color: rgb(237, 100, 100);
    text-decoration-color: white;
    margin: auto;
    width: 70%;
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
nav-bar.isFixed ul {
    float: left;
    margin-right: 30px;
}
nav-bar.isFixed ul li{
    display: inline-block;
    text-decoration: none;
    text-emphasis-color: white;
    margin-left: 10px;
}
nav-bar.isFixed ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-emphasis-color: rgb(117, 0, 0);
}
nav-bar.isFixed ul li a:hover {
    color: darkred;
}

/* */
@media (max-width: 650px) {
    nav {

        height: 50px;
    }
    nav ul li a {
        font-size: 20px;
    }

    #bottomOfPage h2 {
        font-size: 22px;
    }
}

@media (max-width: 482px) {
    nav {
        height: 40px;
    }
    nav ul {
        margin-right: 10px;
        margin-top: 10px;
    }
    nav ul li a {
        font-size: 13px;
    }

    #bottomOfPage h2 {
        font-size: 20px;
    }


}

@media (max-width: 346px) {
    nav {
        background-color: rgb(134, 100, 237);
        height: 60px;
    }
    nav ul {
        margin-right: 10px;
        margin-top: 10px;
    }
    nav ul li a {
        font-size: 13px;
    }

    #bottomOfPage h2 {
        font-size: 15px;
    }
    h1.pageTitle {
        width: 80vw;
        font-size: 10vw;
    }

    
}

